.rvmrc
.ruby-version
.ruby-gemset
.bundle/
Gemfile.lock
log/*.log
pkg/
coverage/*
spec/sample/db/*.sqlite3
spec/sample/log/*.log
spec/sample/tmp/
spec/sample/.sass-cache
spec/fixtures/db/*.yml
spec/fixtures/db/*.sqlite3
