.rvmrc
.bundle/
Gemfile.lock
log/*.log
pkg/
spec/dummy/config/database.yml
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/fixtures/db/*.yml
spec/fixtures/db/*.sqlite3
