%h1= @report.class.name.titleize

%table
  %thead
    %tr
      - @report.headers.each do |header|
        %th= header
  %tbody
    - @report.rows.each do |row|
      %tr
        - row.each do |value|
          %td= value

= link_to 'Download CSV', dossier_report_path(:format => 'csv', :options => params[:options]), :class => 'download-csv'
