<!DOCTYPE html>
<html>
<head>
  <title>Dossier</title>
  <%= stylesheet_link_tag    "dossier/application", :media => "all" %>
  <%= javascript_include_tag "dossier/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
