Oh Hai, I iz customized!
%table
  %thead
    %tr
      - @report.headers.each do |header|
        %th= header
  %tbody
    - @report.results.each do |row|
      %tr
        - row.values.each do |value|
          %td= value
